@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/lemonmilk");


@font-face {
  font-family: "LemonMilk";
  src: url(./assets/fonts/LemonMilk/LEMONMILK-BOLD.OTF);
}

:root {
  font-family: "Helvetica", "Source Sans 3", sans-serif;
}

@theme{
  --font-LemonMilk: 'LemonMilk', "sans-serif"
}